body {
    margin: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}

.logo > h2 > a {
    color: white;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
}


.burgerhidden > li {
    list-style: none;
}

.burgerhidden {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbtn {
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
}

.navlabel {
    display: none;
    cursor: pointer;
}

.burger > div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 7px;
}

.navinput {
    display: none;
}

.usermenulabel {
    cursor: pointer;
    display: block;
}
.usermenu > ul {
    display: block;
    background-color: black;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    padding: 10px;
    text-align: center;
    list-style: none;
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform: scale(0) translateY(-200%);
}

.usermenu > ul > li {
    margin: 10px;
}

.usermenuinput:checked + ul {
    transform: scale(1) translateY(0%);
}

.usermenuinput {
    display: none;
}



@media (max-width: 1024px){
    body {
        overflow-x: hidden;
    }
    
    nav {
        height: 200px;
    }
    
    .burgerhidden {
        margin-top: 0;
        position: absolute;
        right: 0px;
        height: 70%;
        top: 200px;
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: scale(0) translateX(200%);
        transition: transform 0.3s ease-in;
    }
    
    .navinput:checked + .burgerhidden {
        transform: scale(1) translateX(0%);
        transition: transform 0.3s ease-in;
    }
    .navlabel{
        display: block;
    }
}

html{
  font-size: 62.5%;
}
body{
  font-size:1.6rem;/* 16px*/
  line-height: 2;
}
@media (max-width: 1024px) {
    body {
        font-size: 3.2rem;
    }
    input {
        font-size: 3.2rem;
    }
    select {
        font-size: 3.2rem;
    }
    textarea {
        font-size: 3.2rem;
    }
}
@media (max-width: 768px) {
    
}









